/* This file is for your main application css. */
@import './phoenix.css';

.line {
  width: 576px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.tile {
  width: 72px;
  height: 72px;
  display: inline-block;
  word-break: break-all;
}

.death-text {
  text-align: center;
  font-size: 2rem;
  margin-top: 2.5rem;
}

.instructions {
  text-align: center;
  margin-top: 2rem;
}
